/* Display css */
#app {
  padding: 0;
  .displaycontainer {
    width: 80%;
    padding: 20px;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
    margin: auto;
  }
  .profit {
    background-color: #d4edda;
  }
  .loss {
    background-color: #f8d7da;
  }
  #displayHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #date-filter-form {
    margin-bottom: 0 !important;
  }
  #monthly-profit-loss {
    margin-bottom: 0;
    text-align: center;
  }
  .child-table-row {
    background-color: #e9ecef;
  }
  #dataTable {
    min-height: 70vh;
  }
  #data-tbody tr td {
    padding: 10px;
  }

  .mt-3 tbody tr,
  .mt-3 tbody tr td {
    vertical-align: middle;
  }
  .child-table-row th,
  .child-table-row tbody tr td {
    padding: 0.3rem !important;
    font-size: 0.85rem;
    line-height: 1;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
  }

  table,
  th,
  td {
    border: 1px solid #ccc;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    max-height: fit-content;
  }

  th {
    background-color: #f2f2f2;
  }

  tbody {
    overflow-y: auto;
  }

  thead {
    width: 100%;
    table-layout: fixed;
  }
  .pagination {
    justify-content: center;
  }
  .pagination li {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .pagination button:hover {
    background-color: #45a049;
  }
}

/* Add this to the end of your existing CSS */

@media (max-width: 768px) {
  /* General styling for mobile */
  .tablink {
    font-size: 14px;
    padding: 10px;
  }

  #filetab {
    flex-direction: column;
    align-items: center;
  }

  #fileform {
    min-width: 70vw;
    max-height: 40vh;
  }
  #filedataContainer {
    min-width: 100vw;
    max-height: 40vh;
  }
  #filedataTable {
    width: 100%;
  }

  .pagination button {
    width: 100%;
    margin: 5px 0;
    font-size: 0.75rem;
    padding: 5px 10px !important;
  }

  #dataForm {
    min-width: 100%;
  }

  .entrycontainer {
    flex-direction: column;
    align-items: stretch;
  }

  #dataContainer {
    min-width: 90%;
  }

  #displayHead {
    flex-direction: column;
    align-items: stretch;
  }

  #date-filter-form {
    width: 100%;
    margin-bottom: 10px;
  }

  #date-filter-form .form-control,
  #date-filter-form .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  #dataTable table {
    font-size: 10px;
  }

  td {
    padding: 3px !important;
  }
  .displaycontainer {
    min-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  h2 {
    font-size: 18px;
  }

  label {
    font-size: 14px;
  }

  .file-list,
  .file-item {
    font-size: 14px;
  }

  input[type="date"],
  input[type="number"],
  input[type="text"],
  select,
  input[type="submit"] {
    font-size: 12px;
  }
}
