body,
html {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  height: 6.5vh;
}
h2 {
  text-align: center;
  color: #333;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  /* color: white; */
  display: none;
  padding: 100px 20px;
  height: 100%;
}
/* #form {
        background-color: rgb(181, 122, 122);
      }
      #app {
        background-color: rgb(123, 155, 123);
      } */
#form {
  padding: 0;

  .entrycontainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input[type="date"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  label {
    font-size: 16px;
    font-weight: bold;
  }
  #dataForm {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    input[type="date"],
    input[type="number"],
    input[type="text"],
    select,
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    input[type="submit"] {
      background-color: #4caf50;
      color: white;
      cursor: pointer;
    }
    input[type="submit"]:hover,
    input[type="button"]:hover {
      background-color: #45a049;
    }
  }
  #dataContainer {
    margin-top: 20px;
    max-width: 100%;
    width: 50%;
  }
  #dataTable {
    min-height: 60vh;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th,
    td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    tbody {
      max-height: 200px;
      overflow-y: auto;
    }

    thead {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
  .pagination {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .pagination button {
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .pagination button:hover {
    background-color: #45a049;
  }

  .pagination button:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
  }
  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
  }
}
