body,
html {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style tab links */
#tabButton {
  display: flex;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  height: 6.5vh;
}
h2 {
  text-align: center;
  color: white;
}

.tablink:hover {
  background-color: #6c757d;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  height: 100%;
}
